@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "general/fonts.css";
@import "general/vars.css";
@import "general/masonry.css";
@import "site/layout.css";
@import "site/header.css";
@import "blog/feed.css";
@import "blog/post.css";
@import "blog/article.css";
@import "blog/related.css";
@import "misc/pswp.css";

@media (prefers-color-scheme: dark) {
    :root {
      --color-primary-text: #e6e6e6;
      --color-secondary-text: #999;
      --color-white: #15171a;
      --color-lighter-gray: #444;
      --color-light-gray: #333;
      --color-mid-gray: #222;
      --color-dark-gray: #111;
      --color-darker-gray: #000;
      --color-black: #000;
    }
  
    body {
      background-color: var(--color-darker-gray);
      color: var(--color-primary-text);
    }
    
    a {
      color: var(--color-primary-text);
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--color-primary-text);
    }
  }
  